@import "variables";

body{
	background-color: $color2;
}

.separator{
	width: 50px;
	height: 150px;
	display: block;
	float:left;
	margin-right: 50px;

	.dot0,
	.dot1{
		margin-top: 50px;
		background-color: $color1;
		height: 48px;
		width: 48px;
		border: 1px solid $color2;
		border-radius: 5px;
		float:left;
	}
}

.separator.tick{
	.dot0,
	.dot1{
		background-color: $color2;
	}
}

.digit{
	width:150px;
	height: 250px;
	display: block;
	float:left;
	margin-right: 50px;

	.row0,
	.row1,
	.row2,
	.row3,
	.row4{
		display: block;
		float:left;
		height: 50px;
		width: 150px;
		transform-style:preserve-3d;
		transition:transform 0.5s ease;
	}

	.plane{
		height: 50px;
		position: relative;
		background-color: $color2;
	}

	.plane0{
		transform: rotateY(0deg) translateZ(75px);
	}

	.plane1{
		transform: rotateY(90deg) translateZ(75px);
		top:-50px;
	}

	.plane2{
		transform: rotateY(180deg) translateZ(75px);
		top:-100px;
	}

	.plane3{
		transform: rotateY(270deg) translateZ(75px);
		top:-150px;
	}

	.pixel0,
	.pixel1,
	.pixel2{
		float:left;
		width: 48px;
		height: 48px;
		border-radius:5px;
		border:1px solid $color2;
	}

	.row0{
		.plane0{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color1;
			}
		}

		.plane1{
			.pixel0,
			.pixel1{
				background-color: $color2;
			}

			.pixel2{
				background-color: $color1;
			}
		}

		.plane2{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color2;
			}
		}

		.plane3{
			.pixel0,
			.pixel2{
				background-color: $color1;
			}

			.pixel1{
				background-color: $color2;
			}
		}		
	}

	.row1{
		.plane0{
			.pixel0,
			.pixel2{
				background-color: $color1;
			}

			.pixel1{
				background-color: $color2;
			}
		}

		.plane1{
			.pixel0,
			.pixel1{
				background-color: $color2;
			}

			.pixel2{
				background-color: $color1;
			}
		}

		.plane2{
			.pixel1,
			.pixel2{
				background-color: $color2;
			}

			.pixel0{
				background-color: $color1;
			}
		}

		.plane3{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color2;
			}
		}		
	}

	.row2{
		.plane0{
			.pixel0,
			.pixel2{
				background-color: $color1;
			}

			.pixel1{
				background-color: $color2;
			}
		}

		.plane1{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color2;
			}
		}

		.plane2{
			.pixel0,
			.pixel1{
				background-color: $color2;
			}

			.pixel2{
				background-color: $color1;
			}
		}

		.plane3{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color1;
			}
		}		
	}

	.row3{
		.plane0{
			.pixel0,
			.pixel2{
				background-color: $color1;
			}

			.pixel1{
				background-color: $color2;
			}
		}

		.plane1{
			.pixel0,
			.pixel1{
				background-color: $color2;
			}

			.pixel2{
				background-color: $color1;
			}
		}

		.plane2{
			.pixel1,
			.pixel2{
				background-color: $color2;
			}

			.pixel0{
				background-color: $color1;
			}
		}

		.plane3{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color1;
			}
		}		
	}

	.row4{
		.plane0{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color1;
			}
		}

		.plane1{
			.pixel0,
			.pixel1,
			.pixel2{
				background-color: $color2;
			}
		}

		.plane2{
			.pixel1,
			.pixel2{
				background-color: $color2;
			}

			.pixel0{
				background-color: $color1;
			}
		}

		.plane3{
			.pixel0,
			.pixel1{
				background-color: $color2;
			}

			.pixel2{
				background-color: $color1;
			}
		}		
	}
}

.digit[data-value="0"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(0deg);
	}

	.row2{
		transform: rotateY(0deg);
	}

	.row3{
		transform: rotateY(0deg);
	}

	.row4{
		transform: rotateY(0deg);
	}
}

.digit[data-value="1"]{
	.row0{
		transform: rotateY(-90deg);
	}

	.row1{
		transform: rotateY(-90deg);
	}

	.row2{
		transform: rotateY(-180deg);
	}

	.row3{
		transform: rotateY(-90deg);
	}

	.row4{
		transform: rotateY(-270deg);
	}	
}

.digit[data-value="2"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(-90deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(-180deg);
	}

	.row4{
		transform: rotateY(0deg);
	}	
}

.digit[data-value="3"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(-90deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(-90deg);
	}

	.row4{
		transform: rotateY(0deg);
	}
}

.digit[data-value="4"]{
	.row0{
		transform: rotateY(-270deg);
	}

	.row1{
		transform: rotateY(0deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(-90deg);
	}

	.row4{
		transform: rotateY(-270deg);
	}
}

.digit[data-value="5"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(-180deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(-90deg);
	}

	.row4{
		transform: rotateY(0deg);
	}	
}

.digit[data-value="6"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(-180deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(0deg);
	}

	.row4{
		transform: rotateY(0deg);
	}
}

.digit[data-value="7"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(-90deg);
	}

	.row2{
		transform: rotateY(-180deg);
	}

	.row3{
		transform: rotateY(-90deg);
	}

	.row4{
		transform: rotateY(-270deg);
	}
}

.digit[data-value="8"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(0deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(0deg);
	}

	.row4{
		transform: rotateY(0deg);
	}
}

.digit[data-value="9"]{
	.row0{
		transform: rotateY(0deg);
	}

	.row1{
		transform: rotateY(0deg);
	}

	.row2{
		transform: rotateY(-270deg);
	}

	.row3{
		transform: rotateY(-90deg);
	}

	.row4{
		transform: rotateY(0deg);
	}
}